<a href="https://colab.research.google.com/github/ByeongKeun/Industrial-AI/blob/master/2021.1%ED%95%99%EA%B8%B0/%EC%82%B0%EC%97%85%EC%9D%B8%EA%B3%B5%EC%A7%80%EB%8A%A5%EA%B0%9C%EB%A1%A0/%EC%8B%A4%EC%8A%B5/2021-03-11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***반복문 실습***

In [ ]:
for x in range(0,5):
    print("환영합니다")

환영합니다
환영합니다
환영합니다
환영합니다
환영합니다

In [ ]:
for name in ["철수", "영희", "길동", "유신"]:
    print("안녕! ", name)

안녕!  철수
안녕!  영희
안녕!  길동
안녕!  유신

In [ ]:
#행을 바꾸고 싶지 않을때
for x in [0,1,2,3,4,5,6,7,8,9]:
    print(x, end=" ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
for x in range(1, 15, 2):
    print("x=", x, end =" ")

x= 1 x= 3 x= 5 x= 7 x= 9 x= 11 x= 13

In [ ]:
sum=0
for x in range(1, 100, 2):
    sum += x
    
print("sum=", sum)

sum= 2500

In [ ]:
sum=0

limit = int(input("어디까지 계산할까요:"))
for i in range(limit):
  sum += i

print("1부터 ", limit, "까지 정수의 합=", sum)

어디까지 계산할까요:55
1부터  55 까지 정수의 합= 1485

In [ ]:
cnt = int(input("몇번이나 인사할까요"))
i=0
while i < cnt:
  print("환영합니다")
  i += 1

print("반복문이 종료되었습니다")

몇번이나 인사할까요5
환영합니다
환영합니다
환영합니다
환영합니다
환영합니다
반복문이 종료되었습니다

In [ ]:
i = 0
while i < 10:
  print(i, end=" ")
  i += 1  
print()
print("\n종료", i)

0 1 2 3 4 5 6 7 8 9

종료 10

In [ ]:
i=1
sum=0

while i <= 10: 
  sum += i
  i += 1
  print ("i=", i, " sum=", sum)

print("합계=", sum)

i= 2  sum= 1
i= 3  sum= 3
i= 4  sum= 6
i= 5  sum= 10
i= 6  sum= 15
i= 7  sum= 21
i= 8  sum= 28
i= 9  sum= 36
i= 10  sum= 45
i= 11  sum= 55
합계= 55

In [ ]:
i=1
factorial = 1

while(i <= 10):
  factorial = factorial * i
  i += 1

print("10!은 %d(i=%d)입니다."%(factorial, i))

10!은 3628800(i=11)입니다.

In [ ]:
i=1
while i <= 9:
  print("3 * %d = %d "%(i, 3*i))
  i+=1

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [ ]:
sum = 0
number = 1

while number <= 100:
  if number %3 == 0:
    sum += number
  number += 1

print("1부터 100까지의 모든 3의 배수의 합은 %d입니다"%sum)

1부터 100까지의 모든 3의 배수의 합은 1683입니다

# ***함수(function)***

In [ ]:
def get_sum(start, end):
  sum=0
  for i in range(start, end+1):
    sum += i
  
  print("%d부터 %d까지의 합=%d"%(start,end,sum))
  return sum

get_sum(1, 10)

1부터 10까지의 합=55

55

In [ ]:
# 화씨 → 섭씨 변환
def FtoC(temp_f):
  temp_c = (5.0 * (temp_f - 32.0)) / 9.0

  print("화씨 %d℉ 는 섭씨 %d℃ 입니다"%(temp_f, temp_c))
  return

def CtoF(temp_c):
  temp_f = ((temp_c*9.0)/5.0) + 32.0 

  print("섭씨 %d℃는 화씨 %d℉ 입니다"%(temp_c, temp_f))
  return

temp_f = float(input("섭씨 온도를 입력하세요:"))
FtoC(temp_f)

temp_c = float(input("\n화씨 온도를 입력하세요:"))
CtoF(temp_c)

섭씨 온도를 입력하세요:100
화씨 100℉ 는 섭씨 37℃ 입니다

화씨 온도를 입력하세요:37
섭씨 37℃는 화씨 98℉ 입니다